@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Merriweather', serif;
}

.body {
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    width: 100%;
    position: fixed;
    top: 0;
}

.hero, .header, footer {
    background-color: #1F2937;
}

.menu, .logo {
    display: inline-block;
}

.nav-bar .menu {
    padding-left: 20px;
}

.nav-bar .menu a {
    color: #F9FAF8;
}

.nav-bar .menu a:hover {
    color: #FED500;
}

.hero-container {
    display: flex;
    margin: 0px 50px;
}

.hero {
    padding-top: 100px;
}

.hero-con {
    display: inline-block;
    padding: 50px;
}

.hero-con img {
    width: 300px;
    border-radius: 50%;
}

.hero-con h2 {
    font-size: 3em;
    margin-top: 15px;
    margin-bottom: 25px;
}

.hero-con p, .hero-con h2 {
    color: #FFFFFF;
    line-height: 1.3;
}

.hero-con a {
    background-color: #FED500;
    color: #000000;
    font-weight: 700;
    padding: 10px 25px;
}

.hero-con a:hover {
    border: 2px solid rgb(94, 93, 93);
    color: rgb(94, 93, 93);
}

.sign-up {
    margin-top: 40px;
}

.boxes {
    padding: 50px 100px;
    text-align: center;
}

.boxes h3 {
    padding-bottom: 25px;
    font-size: 2em;
}

.boxes-container {
    display: flex;
}

.boxes-item {
    display: inline-block;
    line-height: 1.6;
}

.boxes-item img {
    width: 150px;
    border-radius: 50%;
    border: 5px solid #0a0a0a;
}

.boxes-item p {
    font-size: 12px;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px;
}

.quote-container {
    padding: 50px 100px;
}

.quote-container h3 {
    font-size: 30px;
}

.quote-container p {
    text-align: right;
    font-size: 24px;
}

.cta {
    padding: 50px 100px 100px 100px;
}

.cta-container {
    display: flex;
    padding: 50px 100px;
    background-color: #FED500;
    border-radius: 15px;
    color: #000000;
    justify-content: space-between;
    align-items: center;
}

.cta-item {
    display: inline-block;
}

.cta-item a {
    border: 2px solid #000000;
    padding: 5px 25px;
    color: #000000;
    font-weight: 700;
}

.cta-item a:hover {
    border: 2px solid rgb(94, 93, 93);
    color: rgb(94, 93, 93);
}

footer {
    padding: 10px;
    text-align: center;
    color: #FFFFFF;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    bottom: 0;
}

@media screen and (max-width: 600px) {
    .header {
        padding: 15px;
        width: 100%;
        position: fixed;
        top: 0;
    }

    .nav-bar {
        width: 100%;
    }

    .nav-bar .menu {
        padding-left: 5%;
    }

    .hero-container {
        display: flex;
        margin: 0px 25px;
    }
    
    .hero {
        padding-top: 50px;
    }
    
    .hero-con {
        display: inline-block;
        padding: 10px;
    }
    
    .hero-con img {
        margin-top: 30px;
        width: 120px;
        border-radius: 50%;
    }
    
    .hero-con h2 {
        font-size: 15px;
        margin-top: 30px;
        margin-bottom: 5px;
    }

    .hero-con p {
        font-size: 10px;
        text-align: justify;
        
    }
    
    .hero-con a {
        padding: 5px 20px;
        font-size: 10px;
    }
    
    .sign-up {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .boxes {
        padding: 25px 50px;
    }
    
    .boxes h3 {
        padding-bottom: 25px;
        font-size: 1.25em;
    }
    
    .boxes-container {
        display: flex;
        flex-wrap: wrap;
    }
    
    .boxes-item {
        flex: 50%;
        line-height: 1.6;
        padding: 10px;
    }
    
    .boxes-item img {
        width: 100px;
        border-radius: 50%;
        border: 4px solid #000000;
    }
    
    .boxes-item p {
        font-size: 10px;
    }

    .quote {
        background-color: #E5E7EB;
        padding: 20px;
    }
    
    .quote-container {
        padding: 10px 30px;
    }
    
    .quote-container h3 {
        font-size: 16px;
    }
    
    .quote-container p {
        text-align: right;
        font-size: 12px;
    }

    .cta {
        padding: 30px 20px 70px 20px;
    }
    
    .cta-container {
        padding: 20px;
        border-radius: 15px;
        color: #000000;
    }
    
    .cta-item {
        flex: 70%;
    }

    .cta-button {
        flex: 30%;
    }
    
    .cta-item a {
        border: 2px solid #000000;
        color: #000000;
        font-size: 10px;
        padding: 5px 10px;
        margin-left: 20px;
    }

    .cta-item h3 {
        font-size: 10px;
    }
    
    .cta-item p {
        font-size: 10px;
    }

    footer {
        text-align: center;
        color: #FFFFFF;
        position: fixed;
        width: 100%;
        bottom: 0;
    }

  }
